
.loader {
  margin-right: 20px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  justify-content: center;
  text-align: center;
  border: 16px solid rgb(243, 247, 16);
  border-top: 16px solid rgb(32, 29, 29);  
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.loader {
  border-top: 16px solid orange;
  border-right: 16px solid skyblue;
  border-bottom: 16px solid grey;
  border-left: 16px solid pink;
}




.notes {
  border: 5px solid black;
  border-radius: 10px;
  margin-top: 6rem;
  font-size: 2rem;
  background-color: black;
 
  color: white;
}
.name {
  font-size: 2.5rem;
  margin-left: 15px;
  color: #fff
}
